.DS_Store
node_modules
/dist
sharerpg-772e6-f9609743f0e5.json
sharerpg-772e6-20e26588db39.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
