.card {
    width: 400px;
    background-color: #fff;
    margin: 10px 0 10px;
    border-radius: 5px;
}

.card-header {}

.card-title {
    padding: 10px;
    font-size: 1.5rem;
    font-weight: normal;
    color: #000;
}

.card-label {
    font-size: 1.5rem;
    font-weight: normal;
}

.card-img-top {
    text-align: center;
    width: 400px;
}

small {
    font-size: 1rem;
    font-weight: normal;
    color: #b5b5c3;
}